body {
    font-family: Verdana;
    background-color: #e8f0fe;
    margin: 0;
    padding: 30px;
}

.container {
    max-width: 1100px;
    margin: auto;
}

h1 {
    text-align: center;
    color: #2c3e50;
    margin-bottom: 30px;
}

.card {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px lightgray;
    margin-bottom: 30px;
}

h2, h3 {
    color: #34495e;
    margin-bottom: 15px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background-color: #1abc9c;
    color: white;
    padding: 12px;
}

td {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    text-align: center;
}

tr:hover {
    background-color: #f1f9ff;
}

.info-section {
    display: flex;
    gap: 20px;
}

.info-card {
    flex: 1;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px lightgray;
}

#highest, #active {
    font-size: 15px;
    color: #2c3e50;
}

